@import "./base/base";
@import "./base/nav";
@import "./base/hero";
$primario: #e8505b;
$secundario: #455a64;
$negro: #000;
$blanco: #ffffff;
$grisClaro: #eceeef;

.consult {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  &__content {
    background-color: $primario;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__heading {
    color: $blanco;
    text-align: center;
  }

  &__campo {
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
    text-transform: uppercase;
    color: $blanco;
    margin: 1rem 0;
  }

  &__input {
    width: 100%;
    padding: 0.8rem;
    border: none;
  }
  &__btn {
    background-color: $secundario;
    color: $blanco;
    display: flex;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 0.9rem 12.1rem;
    border-radius: 0.7rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    border: none;
  }

  &__img-content {
    width: 100%;
  }
}
